{% extends "base.html" %}
{% block title %}
Movies
{% endblock %}
{% block content %}
    
    {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <p class="card-text">{{ movie.description }}</p>
                <p class="card-text">Time: {{ movie.time }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        
    {% endfor%}
    
{% endblock %}